@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body ng-app="genCustomerApp" ng-controller="genCustomerCtrl">
    {{txt}}

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/underscore.min.js"></script>
    <script src="~/Scripts/underscore.string.min.js"></script>
    <script src="~/Content/src/ploy/UnderScoreConfig.js"></script>
    <script src="~/Content/src/modules/Utility/GenCustomer/app.js"></script>
</body>
</html>
