<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="~/ScriptExample/InfiniteScrollApp.js"></script>
<script src="~/Content/src/ploy/directive/PloyDirective.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.Thailand.js/dependencies/JQL.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.Thailand.js/dependencies/typeahead.bundle.js"></script>
<link rel="stylesheet" href="~/Scripts/jquery.Thailand.js/dist/jquery.Thailand.min.css">
<script type="text/javascript" src="~/Scripts/jquery.Thailand.js/dist/jquery.Thailand.min.js"></script>
<div ng-app="InfiniteScrollApp" ng-controller="InfiniteScrollCtrl">
  <span translate="area"></span>  <input type="text"  id="district"/>
    <span translate="district"></span>  <input type="text"  id="amphoe" />
    <span translate="province"></span>  <input type="text"  id="province" />
    <span translate="postcode"></span>  <input type="text"  id="zipcode" />
</div>