@{
    ViewBag.Title = "Ploy";
    ViewBag.NgApp = "LandingApp";
    Layout = "~/Views/Shared/_AllNewMasterLayout.cshtml";
}
@section IncludeScripts{
    @*<script src="~/Scripts/jquery-3.0.0.js"></script>*@
    <script src="~/Scripts/angular-count-to.min.js"></script>
    <script src="~/Scripts/angular-filter.js"></script>
    <script src="~/Scripts/pdf.js"></script>
    <script src="~/Scripts/angular-pdf-viewer.min.js"></script>
    <script src="~/Scripts/tinymce/js/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/ui-tinymce.min.js"></script>
    <script src="~/Scripts/ngPrint/ngPrint.js"></script>

    @*POS Global App*@


 

    @*Customer Module App*@
    <script src="~/Content/src/modules/Landing/scripts/app.js"></script>
    <script src="~/Content/src/modules/Landing/scripts/ctrl.js"></script>
   
    @*General Data*@
   
}
@section IncludeCSS {
    <link href="~/Styles/css/CustomerList.css" rel="stylesheet" />
    @*<link href="~/Scripts/ngPrint/ngPrint.css" rel="stylesheet" />*@

}
<div ng-view flex layout="column"></div>