<style>
    @font-face {
        font-family: 'sukhumvitset-text-webfont';
        src: url('../../fonts/sukhumvitset-text-webfont/sukhumvitset-text-webfont.woff') format('woff');
    }

    textarea {
        font-family: 'sukhumvitset-text-webfont', Fallback, sans-serif;
    }
</style>

<md-dialog aria-label="Mango (Fruit)" style="width:50%; opacity:2;" mg-theme="ploypink">
    <form name="projectForm">
        <md-dialog-content>
            <div class="md-dialog-content">
                <div>
                    <h2>#<span translate="reasonChange"></span></h2>
                    <div>
                        <md-input-container class="md-block" style="margin-bottom:0px;">
                            <textarea aria-label="remark" required name="remark" ng-model="remark" rows="6" md-select-on-focus></textarea>
                            <div ng-messages="projectForm.remark.$error">
                                <div ng-message="required">*<span translate="changeStatus"></span></div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                <span translate="canceled"></span>
            </md-button>
            <md-button ng-disabled="checkDisable()" ng-click="saveRemark()" md-theme="green" class="md-raised md-primary">
                <span translate="save"></span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>