<!DOCTYPE html>
<html>
<head>

    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }




        #contractwrap {
            font-size: 16.0pt;
            font-family: 'Angsana New', sans-serif;
        }

            #contractwrap .heading {
                font-size: 14pt;
                font-weight: bold;
            }

            #contractwrap p {
                line-height: 1.3;
                margin: 5px 0;
            }

        .a4page {
            position: relative;
            width: 210mm;
            height: 297mm;
            box-sizing: border-box;
            padding: 35px 50px 15px 50px;
            box-shadow: none;
            margin: 10px auto;
        }

        .footer {
            border-top: 1px solid yellow !important;
            position: absolute;
            bottom: 10px;
            left: 15mm;
            right: 15mm;
        }

        .header {
            border-bottom: 1px solid yellow !important;
            padding-bottom: 12px;
        }

        .logo {
            float: left;
        }

        .company-address {
            margin-left: 200px;
            border-bottom: 2px solid;
        }

        .claer {
            clear: both;
        }

        .rowcon {
        }

            .rowcon .col2,
            .rowcon .col3,
            .rowcon .col5,
            .rowcon .col6 {
                float: left;
            }

            .rowcon .col5 {
                float: left;
                width: 50%;
            }

            .rowcon .col3 {
                float: left;
                width: 33%;
            }

            .rowcon .col4 {
                float: left;
                width: 25%;
            }

            .rowcon .col6 {
                float: left;
                width: 66%;
            }

        .text-left {
            text-align: left;
        }

        .text-right {
            text-align: right;
        }

        .text-center {
            text-align: center;
        }

        .textBlue {
            color: #0070bc;
        }

        .underline {
            text-decoration: underline;
        }

        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }

        .text-bold {
            font-weight: bold;
        }
    </style>

</head>
<body>
    <div id="contractwrap" class="a4page">
        <p class="text-bold text-right" style="clear: left;"><span translate="date"></span>>:________________________________________</p>
        <p class="text-bold text-right" style="clear: left;"><span translate="number"></span>:________________________________________</p>
        <p class="text-bold "><span translate="nameOfCustomer"></span>:________________________________________</p>
        <p class="text-bold "><span translate="address"></span>:________________________________________</p>
        <p class="text-bold "><span translate="profile.Tel"></span>:________________________________________<span translate="profile.Email"></span>:________________________________________</p>
        <div class="row" style="margin-top: 20px; margin-bottom: 10px;">
            <table style="border-collapse: collapse; max-height: 196px; max-width: 300px; float: left;" width="149">
                <tbody>
                    <tr>
                        <td style="border: 1px solid black; max-width: 66px;" translate="description2"></td>
                        <td style="border: 1px solid black; max-width: 67px;" translate="amount"></td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; max-width: 66px;" translate="landPrice"></td>
                        <td style="border: 1px solid black; max-width: 67px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; max-width: 66px;" translate="buildingPrice"></td>
                        <td style="border: 1px solid black; max-width: 67px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; max-width: 66px;" translate="addOn"></td>
                        <td style="border: 1px solid black; max-width: 67px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; max-width: 66px;" translate="totalSelling"></td>
                        <td style="border: 1px solid black; max-width: 67px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; max-width: 66px;" translate="payment"></td>
                        <td style="border: 1px solid black; max-width: 67px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; max-width: 66px;" translate="contractPayment"></td>
                        <td style="border: 1px solid black; max-width: 67px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; max-width: 66px;" translate="downPayment"> 40 %</td>
                        <td style="border: 1px solid black; max-width: 67px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; max-width: 66px;" translate="transferPayments"></td>
                        <td style="border: 1px solid black; max-width: 67px;">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <table style="height: 160px; width: 300px; float: right;" border="0">
                <tbody>
                    <tr>
                        <td class="text-center;" style="width: 77px; text-align: center;"><img src="https://ploy.blob.core.windows.net/e3e8bb8edef9481da9eb28bd444e41b9/Company/e3e8bb8edef9481da9eb28bd444e41b9/Untitled.jpg" alt="" width="170" height="115" /></td>
                    </tr>
                </tbody>
            </table>
            <table style="border-collapse: collapse; height: 120px; width: 300px; float: right;" width="120">
                <tbody>
                    <tr>
                        <td style="border: 1px solid black; width: 66px;" translate="areaUnderDeedSquareWah"></td>
                        <td style="border: 1px solid black; width: 67px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; width: 66px;" translate="priceSqm"></td>
                        <td style="border: 1px solid black; width: 67px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; width: 66px;" translate="housePlan"></td>
                        <td style="border: 1px solid black; width: 67px;">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 30px; border-collapse: collapse; height: 120px; width: 100%; float: right;" width="120">
                <tbody>
                    <tr style="height: 27px;">
                        <td style="border: 1px solid black; width: 11.8858%; height: 27px;" translate="numberNo"></td>
                        <td style="border: 1px solid black; width: 24.5303%; height: 27px;" translate="order"></td>
                        <td style="border: 1px solid black; width: 35.2601%; height: 27px;" translate="paymentDate"></td>
                        <td style="border: 1px solid black; width: 26.7341%; height: 27px;" translate="amount"></td>
                    </tr>
                    <tr style="height: 63px;" data-ng-repeat="quotationLine in quotationLines | orderBy:'DueDate'">
                        <td style="border: 1px solid black; width: 11.8858%; height: 63px;">{{$index+1}}</td>
                        <td style="border: 1px solid black; width: 24.5303%; height: 63px;">{{quotationLine.Description}}</td>
                        <td style="border: 1px solid black; width: 35.2601%; height: 63px;">{{quotationLine.DueDate | date:'dd/MM/yyyy'}}</td>
                        <td style="border: 1px solid black; width: 26.7341%; height: 63px;" align="right">{{quotationLine.Amount | number}}</td>
                    </tr>
                </tbody>
            </table>
            <table style="border-collapse: collapse; height: 80px; width: 100%; float: right;" width="120">
                <tbody>
                    <tr style="height: 26px;">
                        <td style="border: 1px solid black; height: 63px; text-align: center;" rowspan="2" translate="pubSerFee"></td>
                        <td style="border: 1px solid black; height: 26px; text-align: center;" translate="areaSquareWah"></td>
                        <td style="border: 1px solid black; height: 26px; text-align: center;" translate="sqmMonth"></td>
                        <td style="border: 1px solid black; height: 26px; text-align: center;" translate="durationMonths"></td>
                        <td style="border: 1px solid black; height: 26px; text-align: center;" translate="totalMoney"></td>
                    </tr>
                    <tr style="height: 37px;">
                        <td style="border: 1px solid black; height: 37px;">&nbsp;</td>
                        <td style="border: 1px solid black; height: 37px;">&nbsp;</td>
                        <td style="border: 1px solid black; height: 37px;" align="right">&nbsp;</td>
                        <td style="border: 1px solid black; height: 37px;">&nbsp;<br /><br /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="text-bold " style="margin-top: 331px;"><span class="text-left" ><br /><br /><span translate="provider"></span>________________________________________</span> <span class="text-right"><span translate="examiner"></span>________________________________________</span></p>
    </div>
</body>

</html>